# Medical Data Visualizer

## This is where I play with the data and do some testing

In [5]:
#import pandas 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [7]:
df = pd.read_csv('../data/medical_examination.csv')
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [9]:
df['cholesterol'].value_counts()

1    52385
2     9549
3     8066
Name: cholesterol, dtype: int64

In [10]:
def replace_values(value):
    if value > 1:
        return 1
    else:
        return 0

In [11]:
# Add 'overweight' column
df['overweight'] = None

# Normalize data by making 0 always good and 1 always bad. If the value of 'cholesterol' or 'gluc' is 1, make the value 0. 
# If the value is more than 1, make the value 1.
df['gluc'] = df['gluc'].apply(replace_values)
df['cholesterol'] = df['cholesterol'].apply(replace_values)

In [12]:
df

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,168,62.0,110,80,0,0,0,0,1,0,None
1,1,20228,1,156,85.0,140,90,1,0,0,0,1,1,None
2,2,18857,1,165,64.0,130,70,1,0,0,0,0,1,None
3,3,17623,2,169,82.0,150,100,0,0,0,0,1,1,None
4,4,17474,1,156,56.0,100,60,0,0,0,0,0,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,0,0,1,0,1,0,None
69996,99995,22601,1,158,126.0,140,90,1,1,0,0,1,1,None
69997,99996,19066,2,183,105.0,180,90,1,0,0,1,0,1,None
69998,99998,22431,1,163,72.0,135,80,0,1,0,0,0,1,None
69999,99999,20540,1,170,72.0,120,80,1,0,0,0,1,0,None

In [13]:
# Draw Categorical Plot
def draw_cat_plot():
    # Create DataFrame for cat plot using `pd.melt` using just the values from 'cholesterol', 'gluc', 'smoke', 'alco', 'active', and 'overweight'.
    columns_to_melt = ['cholesterol', 'gluc', 'smoke', 'alco', 'active', 'overweight']
    melted_df = pd.melt(df, value_vars=columns_to_melt, value_name='value', var_name='attribute')


    # Group and reformat the data to split it by 'cardio'. Show the counts of each feature. You will have to rename one of the columns for the catplot to work correctly.
    # Assuming your DataFrame is named 'df_cat'
    grouped = melted_df.groupby(['cardio', 'attribute', 'value']).size().reset_index(name='total_count')

    # Pivot the table to have 'attribute' as columns and 'value' as index
    pivot_table = grouped.pivot_table(index=['cardio', 'value'], columns='attribute', values='total_count', fill_value=0)

    # Rename columns for the catplot
    pivot_table.columns = [f'{col}_count' for col in pivot_table.columns]

    # Reset index for the DataFrame
    pivot_table = pivot_table.reset_index()

    # Plotting
    sns.set(style="whitegrid")
    g = sns.catplot(data=pivot_table, x='cardio', y='cholesterol_count', hue='value', kind='bar')
    g.set_axis_labels("Cardiovascular Disease", "Cholesterol Counts")
    plt.show()